@media screen and (max-width: 768px) and (orientation: portrait) {
    body{
        background-image: url(RyleeSpada_ProfessionalWebsite_Assets/background-texture.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        margin: 0 auto;
        padding: 1em;
        font-size: 1em;
    }
    .container-1{
        flex-direction: column;
    }
    
    .column-left, .column-right{
        width: 100%;
        margin: 0 auto;
    }
    #homepage-image{
        width: 100%;
        margin: 1em auto;
        display: block;
    }
    #synopsis-greeting{
        margin: 0 auto;
        text-align: left;
        font-size: 1.2em;
        max-width: 100%;
    }
    .nav-list {
        width: 100%;
        text-align: center;
    }
    .nav-list li {
        margin-left: 0;
    }
    .nonHomepage-title-row, .nonHomepage-content-container{
        margin-left: 1em;
        margin-right: 1em;
    }
    .horizontal-nav-container {
        flex-direction: column;
        align-items: center;
    }
    .Projects-horizontal-nav-column-1, .Projects-horizontal-nav-column-2, .Projects-horizontal-nav-column-3 {
        width: 100%;
        margin-bottom: .5em;
    }
    .title-row,
    #synopsis-greeting,
    .nonHomepage-title-row,
    .nonHomepage-content-container {
        margin-left: 1em !important;
        margin-right: 1em !important;
    }
    .carousel-img{
        height: auto;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    iframe{
        margin-bottom: .25em;
        height: 75vw;
        width: 75vw;
        border: .2em inset maroon;
    }
}

@media screen and (max-width: 1471px) {
    body{
        background-image: url(RyleeSpada_ProfessionalWebsite_Assets/background-texture.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        padding-top: 1em;
    }
    .carousel-img{
        height: 430px;
        width: 530px;
        object-fit: cover;
        object-position: center;
    }
    iframe{
        margin-bottom: 2.5em;
        height: 650px;
        width: 75vw;
        border: .2em inset maroon;
    }
}

@media screen and (min-width: 1472px) {
    body {
        font-size: 18px;
        flex-direction: row;
        background-image: url(RyleeSpada_ProfessionalWebsite_Assets/background-texture.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding-top: 1em;
    }
    .carousel-img{
        height: 675px;
        width: 775px;
        object-fit: cover;
        object-position: center;
    }
    iframe{
        width: 75vw;
        margin-bottom: 2.5em;
        height: 1000px;
        border: .2em inset maroon;
    }
}

.container-1{
    display: flex;
    align-items: center;
    padding: .25em;
}

.column-left{
    width: 60vw;
    margin-left: .5em;
    margin-right: 1em;
    align-items: center;
}

.column-right{
    width: 40vw;
}

#homepage-image{
    margin: 0 auto;
    width: 33vw;
    max-width: 100%;
    margin-top: 1.5em;
    margin-bottom: 2em;
    margin-left: 3em;
    margin-right: 3em;
    border: .2em inset maroon;
}

a{
    text-decoration: none;
}

#title-no-link{
    color: white;
    font-size: 3.5em;
    font-family: "IM Fell DW Pica SC", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    width: fit-content;
    border-color: maroon;
    border-style: outset;
    padding: 15px;
    margin: 0 auto;
}


.title{
    color: white;
    font-size: 3.5em;
    font-family: "IM Fell DW Pica SC", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    width: fit-content;
    border-color: maroon;
    border-style: outset;
    padding: 15px;
    margin: 0 auto;
}

.pre-title-row{
    justify-content: center;
}

.title-row{
    margin-right: 4em;
    margin-left: 4em;
}

#synopsis-greeting{
    color: white;
    text-align: justify;
    font-size: 1.7em;
    font-family: "IM Fell DW Pica SC", monospace;
    font-weight: 400;
    font-style: normal;
    margin-left: 4em;
    margin-right: 4em;
    padding-top: 1em;
}

.container-2{
    width: auto;
    display: flex;
    padding-bottom: 3em;
}

.vertical-nav-container{
    width: 50vw;
    margin-left: 4em;
}

.nav-list{
    list-style-type: "↠  ";
    align-items: center;
    list-style-position: inside;
    width: fit-content;
    margin: 0 auto;
}

.nav-list li::marker{
    color: maroon; 
    font-size: 3em;
}

.nav-item_label{
    color: white;
    font-size: 2.5em;
    font-family: "IM Fell DW Pica SC", monospace;
    font-weight: 400;
    font-style: normal;
}

#linked-in-container{
    width: 50vw;
    display: flex;
    padding-top: 1em;
    text-align: center;
    align-items: center;
    margin-right: 2.5em;
    margin-top: 5em;
    padding-left: 12em;
}

.button{
    margin: 0 auto;
    width: fit-content;
    background-color: rgba(128, 0, 0, 0.9);
    border-color: rgba(128, 0, 0, 1);
    border-style: inset;
    border-width: .2em;
    border-radius: 3%;
}

#linked-in-link{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-family: "IM Fell DW Pica SC", monospace;
    font-weight: 400;
    font-style: normal;
    padding-right: .5em;
    padding-left: .5em;
    padding-top: .3em;
}

.nav-item_label:hover{
    animation-name: nav-item-hover;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.title:hover{
    animation-name: nav-item-hover;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes nav-item-hover{
    100%{
        color: maroon;
    }
}

.button:hover{
    animation-name: button-bg-hover;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.button:hover #linked-in-link{
    animation-name: button-text-hover;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes button-bg-hover{
    0%{
        background-color: rgba(128, 0, 0, 0.9);
        color: white;
        border: rgba(128, 0, 0, 1);
    }
    100%{
        background-color: rgba(255, 255, 255, .99);
        color: maroon;
        border: .2em rgba(255, 255, 255, 1) inset;
    }
}

@keyframes button-text-hover{
    100%{
        color: maroon;
    }
}

/* consistent styling for all sub-pages */

.horizontal-nav-container{
    display: flex;
    align-items: center;
    padding-top: .25em;
}

.Projects-horizontal-nav-column-1{
    width: 33vw;
    display: flex;
    align-items: center;
    text-align: center;
}

.Projects-horizontal-nav-column-2{
    width: 33vw;
    display: flex;
    text-align: center;
}

.Projects-horizontal-nav-column-3{
    width: 33vw;
    display: flex;
    text-align: center;
}

.nonHomepage-title-row{
    margin-right: 10em;
    margin-left: 10em;
    padding-top: 1em;
    align-items: center;}

.nonHomepage-content-container{
    margin-left: 4em;
    margin-right: 4em;
}

.subtitle{
    display: flex;
    color: white;
    font-size: 3.2em;
    font-family: "IM Fell DW Pica SC", monospace;
    font-weight: 400;
    font-style: normal;
    margin-left: 1em;
    margin-bottom: .75em;
    margin-top: .75em;
    width: fit-content;
    border-bottom-color: maroon;
    border-bottom-style: ridge;
    border-bottom-width: thick;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;
}

/* styling for Who Am I? page*/

#WhoAmI-content-container{
    margin-right: 4em;
    margin-left: 4em;
    padding-bottom: 2.5em;
    height: 100vw;
    color: white;
    font-family: "IM Fell DW Pica SC", monospace;
    font-weight: 400;
    font-style: normal;
    height: fit-content;
}

#about-me{
    text-align: left;
    font-size: 1.75em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .25em;
}

#areas-of-interest{
    margin-left: 2em;
}

.area-of-interest{
    font-size: .9em;
    padding: .1em;
}

#who-am-i-background{
    padding-left: 2em;
    padding-bottom: 1em;
}

#who-am-i-background-title{
    font-size: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
}

#who-am-i-background-content{
    font-size: 1.6em;
    padding-left: 2em;
    margin-right: 3em;
}

#who-am-i-table{
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
}

.who-am-i-table-data{
    font-size: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
}

.who-am-i-table-list{
    list-style-type: "↠ ";
    list-style-position: outside;
    margin-left: 2em;
}

.who-am-i-table-inner-list{
    padding-bottom: .25em;
    font-size: 1.5em;
    list-style-position: outside;
    list-style-type: "↠  ";
}

.who-am-i-list1{
    font-size: 1.5em;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-left: .5em;
}

.who-am-i-list2{
    font-size: .9em;
    margin-left: 1em;
}

.who-am-i-table-list li::marker{
    color: maroon; 
    font-size: 2.3em;
}

.who-am-i-table-inner-list li::marker{
    color: maroon; 
    font-size: 1.7em;
}

/* styling for Projects page*/

.carousel-item{
    border: .2em inset maroon;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-caption{
    font-family: "IM Fell DW Pica SC", monospace;
    font-weight: 400;
    font-style: normal;
    align-items: center;
    margin-bottom: 3.5em;
    width: fit-content;
    margin: 0 auto;
    display: flex;
}

.caption-title{
    color: white;
    font-size: 2.4em;
    margin-right: .5em;
    margin-left: .5em;
    padding-top: .3em;
}

.caption-subtitle{
    color: white;
    font-size: 1.5em;
    margin-right: .5em;
    margin-left: .5em;
}

.button:hover .caption-title{
    animation-name: button-text-hover;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.button:hover .caption-subtitle{
    animation-name: button-text-hover;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* styling for Résumé page*/

#Resume-content-after-subtitle{
    display: flex;
    justify-content: center;
}
